@media (max-width: 769px) {

  // burger

  .burger__icon {
    display: block;
  }

  .menu {
    &__body {
      position: absolute;
      top: 0;
      right: -100%;
      height: 100vh;
      width: 100%;
      background-color: rgb(132, 57, 246);
      display: flex;
      transition: 0.2s;
      overflow: auto;

      &.active {
        right: 0;
      }

      &__list {
        flex-direction: column;
        gap: 0px;
        margin: auto;
      }

      &__item {
        font-size: 30px;
        line-height: 3;
      }
    }
  }
}