@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: #FCFCFC;
  font-family: HelveticaNeueCyr;
}
body.lock {
  overflow: hidden;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
}

@media (max-width: 769px) {
  .menu__body {
    position: absolute;
    top: 0;
    top: -150%;
    height: 100vh;
    width: 100%;
    background-color: rgb(132, 57, 246);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    overflow: auto;
  }
  .menu__body.active {
    top: 0;
  }
  .menu__body__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
    margin: auto;
  }
  .menu__body__item {
    font-size: 30px;
    line-height: 3;
  }

  .burger__icon {
    display: block;
  }
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Bold.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-BoldItalic.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-BoldItalic.woff") format("woff"), url("../fonts/HelveticaNeueCyr-BoldItalic.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-BoldItalic.svg") format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Light.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-LightItalic.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-LightItalic.woff") format("woff"), url("../fonts/HelveticaNeueCyr-LightItalic.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-LightItalic.svg") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Medium.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Roman.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Thin.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Thin.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Thin.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Thin.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}
.container {
  max-width: 1278px;
  margin: 0px auto;
  padding: 0 15px;
}

.header {
  padding: 40px 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__tel {
  padding-left: 111px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header__tel a {
  font-family: "HelveticaNeueCyr";
  font-weight: 550;
  font-size: 18px;
  color: #303030;
}
.header__tel a:hover {
  text-decoration: underline;
}
.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.header .menu__item {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header .menu__item:hover {
  text-decoration: underline;
}
.header .menu__link {
  font-family: HelveticaNeueCyr;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  color: #303030;
}
.header .burger__icon {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 5;
  cursor: pointer;
}
.header .burger__icon span {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #222;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 5px;
}
.header .burger__icon span:first-child {
  top: 0;
}
.header .burger__icon span:last-child {
  top: auto;
  bottom: 0;
}
.header .burger__icon.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.header .burger__icon.active span:first-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.header .burger__icon.active span:last-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.hero {
  padding: 40px 0;
}
.hero__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
  left: -8%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.hero__image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.hero__body {
  text-align: right;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.hero__title {
  font-family: HelveticaNeueCyr;
  font-size: 80px;
  font-weight: 550;
  line-height: 88px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.hero__title span {
  font-style: italic;
  font-weight: 300;
}
.hero__list {
  margin: 70px 0 56px 0;
}
.hero__item {
  font-family: HelveticaNeueCyr;
  font-size: 18px;
  font-weight: 300;
}
.hero__item:not(last-child) {
  padding-bottom: 16px;
}
.hero__item img {
  margin-left: 10px;
}
.hero__button {
  font-family: HelveticaNeueCyr;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #fff;
  padding: 26px 34px;
  background-color: #303030;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.hero__button img {
  margin-left: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.hero__button:hover img {
  -webkit-transform: translateX(15px) scale(1.5);
          transform: translateX(15px) scale(1.5);
}
.hero__button:hover::after {
  left: 0px;
  top: 0px;
}
.hero__button::after {
  content: "";
  border: 1px #303030 solid;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  position: absolute;
  z-index: 10;
  left: -10px;
  top: -10px;
  opacity: 0.5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.hero .container-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.we {
  padding: 140px 0 1px 0;
}
.we__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.we__text {
  margin-left: 30px;
}
.we-description {
  font-family: HelveticaNeueCyr;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  max-width: 362px;
  margin: 30px 0 63px 0;
}
.we-description span {
  padding-top: 50px;
}
.we__item {
  font-family: HelveticaNeueCyr;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #303030;
  list-style-image: url("../images/icons/circle-row.svg");
}
.we__item:not(:last-child) {
  padding-bottom: 20px;
}
.we .container-we {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.we .title {
  font-family: HelveticaNeueCyr;
  font-size: 80px;
  font-weight: 550;
  line-height: 88px;
  color: #303030;
}
.we .we-title {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}
.we .we-subtitle {
  font-family: HelveticaNeueCyr;
  font-size: 50px;
  font-weight: 550;
  line-height: 55px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.we .we-subtitle span {
  font-style: italic;
  font-weight: 300;
}

.works__items {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.works__item {
  position: relative;
  padding: 0 0 85% 0;
}
.works__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}